
#Footer,#Headder,#Logo,#Contact,#IndexContent.h3{
    text-align: center;
}
#Footer,#Headder{
    font-family: Courier New, Courier, monospace;
}
#Description{
    text-align: justify;
    width: 400px;
    margin: auto;
    /*border: 1px solid black; */
    
}
#IndexContent{
    background: #fce5e8;
}
.MenuItem{
     display: inline-block;
     width: 33.3%
}
#Menu{
    background: #d4e5f4;
}

a:visited{
    color: #ed42c5;
}
a:hover{
    color: orangered;
    font-weight: bold;
}
a:link{
    text-decoration: none;
}
/*
#MenuItem1,#MenuItem3,#MenuItem5{
    color: blue;
    
}
#MenuItem2,#MenuItem4,#MenuItem6{
    color: red;
}
*/