
body{
    font-family: 'Tangerine', serif;
    text-align: center;
}
#BeverageTable{
    text-align: justify;
    margin: 0px auto;
    
}
h1,h2,h3{
    font-weight: bold;
}

#IndexContent{
    background: #fce5e8;
}

#Menu{
    background: #fce5e8;
}

a:visited,{
    color: #ed42c5;
}
a:hover{
    color: orangered;
    font-weight: bold;
}
a:link{
    text-decoration: none;
}

