
#Footer,#Headder,#Logo,#Contact,#IndexContent.h3{
    text-align: center;
}
#IndexContent{
    text-align: justify;
    width: 400px;
    margin: auto;
    /*border: 1px solid black; */
    
}

.MenuItem{
     display: inline-block;
     width: 33.3%
}

/*
#MenuItem1,#MenuItem3,#MenuItem5{
    color: blue;
    
}
#MenuItem2,#MenuItem4,#MenuItem6{
    color: red;
}
*/